apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: go-169935215
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/fw8s5bhq-tenant/test-app-169935215/go-169935215@sha256:8aebbfb1b2a12dee8919198a9fb1c23143b6f615653f1eee3c44b0a82ae60f28
        name: my-go
        resources: {}
status: {}
