apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: go-169935215
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/hacdev/fw8s5bhq-tenant/test-app-169935215/go-169935215@sha256:1fa20217f6dff58b2a64b770b8e3b98d01a92d49b9ef0c6b1b3c8033df7fd584
        name: my-go
        resources: {}
status: {}
