apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: go-169935215
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: go-169935215
    app.kubernetes.io/part-of: test-app-169935215
  name: go-169935215
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: go-app
      app.kubernetes.io/instance: go-169935215
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: go-app
        app.kubernetes.io/instance: go-169935215
    spec:
      containers:
      - env:
        - name: TEST_ENV_VAR
          value: Test go app
        image: quay.io/hacdev/fw8s5bhq-tenant/test-app-169935215/go-169935215@sha256:1fa20217f6dff58b2a64b770b8e3b98d01a92d49b9ef0c6b1b3c8033df7fd584
        name: my-go
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
status: {}
